# Compiled binary
app
check

# Old test/source files you do not want tracked
exercise1.c
exercise1Shader.fs
exercise1Shader.vs
preload.cpp
shad.vert
stb_image.h
passwords.txt
check.c
# If you want to ignore the whole src folder
src/
